@import "@/core/styles/theme/reusable.scss";

* {
  letter-spacing: 1px;
  color: var(--black);
  font-family: var(--font-imbPlexSerif);

  &:focus {
    outline: none;
  }
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

body {
  background-color: var(--lightBlue);
  overflow-x: hidden;

  margin: 0;
  padding: 0;

  width: 100%;
  margin: 0 auto;

  @extend .colors, .transparent, .container;
}
